# SPDX-License-Identifier: MIT

SOC_SERIES_NRF52X=y
SOC_NRF52840_QIAA=y
BOARD_BT65=y

# Enable MPU
ARM_MPU=y

# enable GPIO
GPIO=y

PINCTRL=y

# encoder
EC11=y
EC11_TRIGGER_GLOBAL_THREAD=y

USE_DT_CODE_PARTITION=y

MPU_ALLOW_FLASH_WRITE=y
NVS=y
SETTINGS_NVS=y
FLASH=y
FLASH_PAGE_LAYOUT=y
FLASH_MAP=y

SPI=y
# ZMK_BACKLIGHT=n
# ZMK_BACKLIGHT_ON_START=y
# ZMK_BACKLIGHT_AUTO_OFF_IDLE=y
# ZMK_BACKLIGHT_AUTO_OFF_USB=n
ZMK_RGB_UNDERGLOW_AUTO_OFF_USB=n
ZMK_RGB_UNDERGLOW_AUTO_OFF_IDLE=n
ZMK_RGB_UNDERGLOW=n
ZMK_RGB_UNDERGLOW_EXT_POWER=n
ZMK_RGB_UNDERGLOW_ON_START=y
ZMK_RGB_UNDERGLOW_HUE_START=262
# Use the STRIP config specific to the LEDs you're using
WS2812_STRIP=y
BT_CTLR_TX_PWR_PLUS_8=y
PWM=y
LED_PWM=y
ZMK_BACKLIGHT=y
BUILD_OUTPUT_UF2=y
